.btn-count {
    border: 2px solid var(--main-color);
    padding: 4px 8px;
    font-size: 0.9rem;
}
.btn-count:hover {
    background: var(--main-color);
    color: var(--white-color);
}
.btn-count:active {
    transform: scale(0.9);
    color: var(--white-color) !important;
    background: #0aad0a6e !important;
}

.nav-btn.remove {
    position: absolute;
    top: 38px;
    right: 10px;
    transition: all 0.2s linear;
}
.btn.nav-btn.remove:active,
.btn.nav-btn.remove:disabled {
    border-color: transparent !important;
}
.nav-btn.remove::after {
    color: var(--bs-danger)
}
.nav-btn.remove .icon {
  font-size: 1.2rem;
}

.nav-btn.remove:hover > .icon path {
  fill: var(--bs-danger);;
}

.btn-main.bg-primary,
.btn-main.bg-danger,
.btn-main.bg-primary:active,
.btn-main.bg-danger:active {
    border-color: transparent;
}
.btn-main.bg-danger:hover {
    background: color-mix(in srgb, var(--bs-danger) 80%, var(--black-color) 15%) !important;
}
.btn-main.bg-primary:hover {
    background: color-mix(in srgb, var(--bs-primary) 80%, var(--black-color) 15%) !important;
}
