/* .form-group select:focus ~ label {
    color: var(--main-color);
}
.form-group select:valid ~ label {
  background: var(--white-color);
  font-size: 0.7rem;
  font-weight: 500;
  top: 0;
  padding-inline: 4px;
}

.form-group select:focus {
  border-color: var(--main-color);
  box-shadow: none;
}

.select-group {
  position: relative;
}

.payment-select {
  cursor: pointer;
  appearance: none;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-icon svg {
  transition: all 0.3s ease;
  color: #9e9e9e;
}

.select-icon.open svg {
  transform: rotate(180deg);
  color: var(--main-color);
} */

.payment-wrapper {
  margin-top: 16px;
}

.payment-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.payment-options {
  display: flex;
  gap: 12px;
}

.payment-box {
  color: #9e9e9e;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: border-color 0.2s;
  cursor: pointer;
}
.payment-box:hover {
  border-color: var(--main-color);
}
.payment-box.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

.payment-box input {
  accent-color: var(--main-color);
  outline: none;
}
