.form-group {
    margin-top: 1.3rem;
    color: #9e9e9e;
    font-size: 0.9rem;
    font-weight: 300;
    position: relative;
}

.form-group label {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    background: transparent;
}

.form-group input:where(:focus, :not(:placeholder-shown)) ~ label {
    background: var(--white-color);
    font-size: 0.7rem;
    font-weight: 500;
    top: 0;
    padding-inline: 4px;
}
.form-group input:focus ~ label {
    color: var(--main-color);
}

.form-group:has(.password-icon) input {
    padding-right: 2.6rem;
}

.form-control {
    border-radius: 0;
}
.form-control:focus {
    border-color: var(--main-color);
    box-shadow: none;
}

.btn.password-icon {
    color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    border: none;
}
.btn.password-icon:hover {
    color: #222;
}

.error-msg {
    font-size: 0.8rem;
}
