@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Encode Sans Expanded", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --main-color: #0aad0a;
  --black-color: #000;
  --white-color: #fff;
  --rating-color: #ffc908;
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: var(--main-font);
}

/* START UTILITIES */
.btn-main {
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  margin-top: 1.3rem;

  /* default */
  --bs-btn-color: var(--white-color);
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);

  /* hover */
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: #099409;
  --bs-btn-hover-border-color: #099409;

  /* active */
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: #087f08;
  --bs-btn-active-border-color: #087f08;

  /* focus */
  --bs-btn-focus-shadow-rgb: 10, 173, 10;

  /* disabled */
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: #52d352;
  --bs-btn-disabled-border-color: #52d352;
  --bs-btn-disabled-opacity: 1;
}
.btn-main:active {
  transform: scale(0.9);
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background: var(--main-color);
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
}
/* END UTILITIES */


/* START GLOBAL */
section {
  padding: 90px 0;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.section-title:not(.not-found h1)::after {
  content: '';
  background: var(--main-color);
  display: block;
  width: 50px;
  height: 5px;
}

.main-title {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/* END GLOBAL */

.offline {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 2;
  background: var(--main-color);
  color: var(--white-color);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px,
    rgba(145, 158, 171, .14) 0px 4px 5px 0px,
    rgba(145, 158, 171, .12) 0px 1px 10px 0px;
}
.offline::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  transform: rotateZ(45deg);
  background: var(--white-color);
}
@media (max-width: 480px) {
  .offline::before {
    width: 18px;
    height: 2px;
    transform: translateY(-1px) rotateZ(45deg);
  }
}
