section.not-found {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left bottom, var(--white-color), var(--main-color));
}

section.not-found img {
    max-width: 90dvw;
}

section.not-found h1 {
    color: #b3e8b3;
    padding: 15px;
}

@media (max-width: 370px) {
    section.not-found h1 {
        font-size: 1.5rem;
    }
}
